{% extends "home.html" %}
{% load staticfiles %}

{% block extraCSS %}
<link rel="stylesheet" type="text/css" href="{% static 'tigerlilly_site/style/TABLET_home.css' %}" />
{% endblock %}

{% block article %}
	{% for post in posts %}
		{% if forloop.first %}
		    <div class="col float-left mr-1 pr-1 pl-1 border-right border-dark">
			   <div class="pl-1 pr-1 mr-1 float-left">
			   		<!--<a href="{%url 'tigerlilly_site:detail' post.pk post.slugged %}">-->
			    	<p class="mb-1 font-weight-bold">{{post.title}}</p>
			    	{% if post.alias is not None %}
			    		<p class="mb-1 font-italic small">By {{post.alias}}</p>
			    	{% endif %}
			    	{% if post.article_text|wordcount > 150 %}
			    		<pre class="article"><p>{{ post.article_text|truncatewords:150|safe }}</p></pre>
			    	{% else %}
			        	<pre class="article"><p>{{ post.article_text|safe }}</p></pre>
			        {% endif %}			    				        
			    </div>
		{% elif forloop.counter0|divisibleby:9 %}
			</div>
			<div class="col float-left mr-1 pr-1 pl-1">
		       <div class="pl-1 pr-1 mr-1 float-left">
		       		<!--<a href="{%url 'tigerlilly_site:detail' post.pk post.slugged %}">-->
			    	<p class="mb-1 font-weight-bold">{{post.title}}</p>
			    	{% if post.alias is not None %}
			    		<p class="mb-1 font-italic small">By {{post.alias}}</p>
			    	{% endif %}
			        {% if post.article_text|wordcount > 150 %}
			    		<pre class="article"><p>{{ post.article_text|truncatewords:150|safe }}</p></pre>
			    	{% else %}
			        	<pre class="article"><p>{{ post.article_text|safe }}</p></pre>
			        {% endif %}		
			    </div>   	    
		{% elif forloop.counter0|divisibleby:3 %}
			</div>
			<div class="col float-left mr-1 pr-1 pl-1 border-right border-dark">
		       <div class="pl-1 pr-1 mr-1 float-left">
		       		<!--<a href="{%url 'tigerlilly_site:detail' post.pk post.slugged %}">-->
			    	<p class="mb-1 font-weight-bold">{{post.title}}</p>
			    	{% if post.alias is not None %}
			    		<p class="mb-1 font-italic small">By {{post.alias}}</p>
			    	{% endif %}
			        {% if post.article_text|wordcount > 150 %}
			    		<pre class="article"><p>{{ post.article_text|truncatewords:150|safe }}</p></pre>
			    	{% else %}
			        	<pre class="article"><p>{{ post.article_text|safe }}</p></pre>
			        {% endif %}		
			    </div>   
		{% else %} 
			<div class="pl-1 pr-1 mr-1 float-left">
					<!--<a href="{%url 'tigerlilly_site:detail' post.pk post.slugged %}">-->
			    	<p class="mb-1 font-weight-bold">{{post.title}}</p>
		    	{% if post.alias is not None %}
		    		<p class="mb-1 font-italic small">By {{post.alias}}</p>
		    	{% endif %}
		        {% if post.article_text|wordcount > 150 %}
		    		<pre class="article"><p>{{ post.article_text|truncatewords:150|safe }}</p></pre>
		    	{% else %}
		        	<pre class="article"><p>{{ post.article_text|safe }}</p></pre>
		        {% endif %}		
		    </div>	
		{% endif %}
	{% endfor %}
{% endblock %}