/*.detail-view settings are meant to mirror bootstrap's .container class css */
.detail-view {
	width:85%;
    margin-right:auto;
    margin-left:auto;
}

ul {
	padding-right:inherit;
	padding-left:inherit;
	margin-right:inherit;
	margin-left:inherit;
}

.title {
	font-size:18px;
}

.article {
	font-size:16px;
}