body {
	font: normal normal 15px 'Courier New', Courier, FreeMono, monospace;
	color: #222222;
	background: #f0e68c none no-repeat scroll center center;
	padding: 0 1px 40px 1px;
	width:100%;
	overflow-x:hidden;
}

#title {
	border:20px 0px 20px 0px;
	border-style:solid none solid none;
	padding:5px;
	font-size:20px;
	font-style: italic;
}

.oi-chevron-bottom {
	height:10px;
	width:10px;
}

a:link {
	text-decoration:none;
	color: #000000;
}

a:visited {
	text-decoration:none;
	color: #000000;
}

a:hover {
	text-decoration:underline;
	color: #000000;
}

.article {
	white-space:pre-wrap;	
}
