.container {
	width:100%;
	padding:0px;
	float:center;
}

.col {
	max-width:49%;
	overflow:hidden;
}

.row {
	margin:0px;
}

.article > p {
    max-width:inherit;
    word-break:break-word;
}