.container {
	max-width:82.5%;
	float:left;
	margin-left:7px;
}

.col {
	max-width:20%;
}

.article > p {
    max-width:inherit;
    word-break:break-word;
    padding:0px;
    margin:0px;
    overflow:hidden;
}