oldCode/*
/frontend/node_modules
/backend/node_modules
/frontend/public/icons
/frontend/public/images/archive
/frontend/public/images/articles
recordings/*
/frontend/src/components/Comments.js
/backend/models/comment.js
/backend/routes/comments.js
/backend/sql/*
TL-backend.pem
/backend/.env

