.SiteBox {
    margin-top: 3vh;
    margin-left: 7vw;
    margin-right: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    padding-top: 0px;
    min-height: 100vh;
}

.NavBox {
    margin: 0px;
    display: flex;
    padding: 0px;
}    

/* this goes for the whole site! */
body {
    margin: 0;
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Courier New', 'Courier', 'FreeMono', 'monospace';
    font-weight: 550;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

#footer {
    margin-top: auto;
    width: 95vw;
    height: 14%;
    border-radius: 2.5px;
    margin-top: 20px;
    align-items: center;
    border-top: 1px solid var(--border-primary);
    gap: 2rem;
    padding: 1em;
    background-color: rgba(0,0,0,.85);
    color: #f3f2f2;
    font-family: 'Roboto', sans-serif;
    font-size: x-small;
    background: linear-gradient(90deg, rgba(0,0,0,.85) 40%, rgba(241, 146, 111, .85));
}