.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.SiteBox {
    margin-top: -8vh;
    margin-left: 7vw;
    margin-right: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    padding-top: 0px;
    min-height: 100vh;
}

.NavBox {
    margin: 0px;
    display: flex;
    padding: 0px;
}    

/* this goes for the whole site! */
body {
    margin: 0;
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Courier New', 'Courier', 'FreeMono', 'monospace';
    font-weight: 550;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}
