.FormWrapper {
    min-height: 30vh;
    min-width: 40vw;
    border-color: rgba(0, 0, 0, 0.87);
    border-radius: 3px;
    box-shadow: 0em 1em 2em rgba(0, 0, 0, 0.87);
    background-color: rgba(239, 230, 174, .85);
}

.HiddenField {
    opacity: 0;
    height: 0px;
}