.BackdropWrapper {
    min-height: 25vh;
    margin-bottom: 1em;
    min-width: 66vw;
    margin-left: 50%;
    margin-right: 50%;
    border-color: rgba(0, 0, 0, 0.87);
    border-radius: 3px;
    box-shadow: 0em 1em 2em rgba(0, 0, 0, 0.87);
    background-color: rgba(189, 183, 107, .85);
}

.HiddenField {
    opacity: 0;
    height: 0px;
}
