#displayUserIcon {
    height: 10vh;
    width: 10vw;
    border-radius: 3px;
}

.PageHeader {
    background: linear-gradient(90deg, rgba(0,0,0,.85) 40%, rgba(241, 146, 111, .85));
    border-radius: 3px;
    padding: .83em;
    margin-bottom: .5em;
    text-align: center;
}

.PageHeader * {
    color: #f3f2f2;
    margin: 0;
}